*Dockerfile*
*docker-compose*
**/node_modules
*/__test__/*
coverage
build
.git
.gitignore
jest.*
*.md
LICENSE
database.sqlite
appspec.yml
.prettierrc
.prettierignore
.eslintrc.json
.eslintignore
.editorconfig
.vscode
logs
aws
.DS_Store
