docker-compose.yaml
.dockerignore
**/Dockerfile
**/node_modules
**/__test__
**/coverage
**/build
**/tsconfig.tsbuildinfo
.git
.github
.gitignore
jest.*
*.md
LICENSE
database.sqlite
appspec.yml
.prettierrc
.prettierignore
.eslintrc.json
.eslintignore
.editorconfig
.vscode
logs
aws
.DS_Store
