name: Build and Test

on:
  pull_request:
    branches:
      - next
  workflow_dispatch:

jobs:
  test_and_build:
    runs-on: ubuntu-latest
    env:
      EXCLUDED_PACKAGE_OA_RENDERERS: '!./packages/vckit-oa-renderers/'
      EXCLUDED_PACKAGE_CREDENTIAL_OA: '!./packages/credential-oa/'
      EXCLUDED_PACKAGE_EXPLORER: '!./packages/demo-explorer/'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install pnpm
        run: npm i pnpm --global

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '21'

      - name: Install dependencies
        run: pnpm i --filter ${{ env.EXCLUDED_PACKAGE_OA_RENDERERS }} --filter ${{ env.EXCLUDED_PACKAGE_CREDENTIAL_OA }} --filter ${{ env.EXCLUDED_PACKAGE_EXPLORER }} --no-frozen-lockfile

      - name: Build
        run: pnpm build:agent

      - name: Run tests
        run: |
          pnpm test:packages --changedSince=origin/next --ci --json --coverage --testLocationInResults --outputFile=report.json

      - name: Jest Coverage Comment
        uses: MishaKav/jest-coverage-comment@main
        with:
          title: Code Coverage Report
          coverage-summary-path: report.json

          
      # - name: Coverage
      #   uses: artiomtr/jest-coverage-report-action@v2
      #   with:
      #     github-token: ${{ secrets.GITHUB_TOKEN }}
      #     coverage-file: report.json
      #     base-coverage-file: report.json
      #     threshold: 80
